<img src="http://kutyafajtak.hu/kepek/beagle-kutya/beagle-kutya-04.jpg" 
     alt="profile" class="avatar pull-left" width="200">

<h1>  Név: {{model.CurrentPlayer.name}}</h1>
<br>
<h1>  Neptun: {{model.CurrentPlayer.neptun}}</h1>